<link rel="stylesheet" type="text/css" href="/main.css">
<script type="module">

import SSAssembly from "./classes/SSAssembly.js";
import SSPackaging from "./classes/SSPackaging.js";
import SSEditor from "./classes/UserInterfaces/SSEditor.js";

import SSThis from "./classes/Elements/SSThis.js";
import SSSelector from "./classes/Elements/SSSelector.js";
import SSAdd from "./classes/Elements/SSAdd.js";
import SSRemove from "./classes/Elements/SSRemove.js";
import SSButton from "./classes/Elements/SSButton.js";
import SSKey from "./classes/Elements/SSKey.js";
import SSInput from "./classes/Elements/SSInput.js";
import SSTextarea from "./classes/Elements/SSTextarea.js";

import SSObject from "./classes/SSObject.js";
import SSGroup from "./classes/SSGroup.js";
import SSLink from "./classes/SSLink.js";
import SSProperty from "./classes/SSProperty.js";

import {h, Component, render} from "./libraries/preact.js";
import htm from "./libraries/htm.js";

const html = htm.bind(h);

window.visitKey = function (key) {
	console.log("Visit Key: " + key);
}

window.selectElement = function (key) {
	console.log("Select Element: " + key);
	if (document.getElementById(key).red === "0") document.getElementById(key).red = "1";
	if (document.getElementById(key).red === "1") document.getElementById(key).red = "0";
}

window.simulate = function (input) {
	var virtualElement = document.createElement("pre");
	virtualElement.style.display = "inline-block";
	virtualElement.style.visibility = "hidden";
	virtualElement.style.width = "auto";
	virtualElement.style.height = "auto";
	virtualElement.innerHTML = input;
	document.getElementsByTagName("body")[0].appendChild(virtualElement);
	if (input.split("\n")[input.split("\n").length - 1] == "") {
		var output = {
			"width": (virtualElement.getBoundingClientRect().width) + "px", 
			"height": (virtualElement.getBoundingClientRect().height + 20) + "px"
		};
	} else {
		var output = {
			"width": (virtualElement.getBoundingClientRect().width) + "px", 
			"height": (virtualElement.getBoundingClientRect().height + 1) + "px"
		};
	}
	virtualElement.outerHTML = "";
	virtualElement.remove();
	return output;
}

render(html`<${SSObject} uuid="fzYkA7sH" array="object_uuid" index="0" state=${
	JSON.stringify({
		"_uuid": "fzYkA7sH", 
		"_success": true, 
		"_type": "object", 
		"_sql": "SELECT * FROM `object` WHERE uuid = 'fzYkA7sH';"
	})
}/>`, document.getElementById("renderZone"));

window.send = async function (command) {
	console.log(command);
	return new Promise ((resolve, reject) => {
		var terminal = new XMLHttpRequest();
		terminal.onreadystatechange = async function () {
			if (this.readyState == 4 && this.status == 200) {
				resolve(JSON.parse(this.responseText));
			}
		}
		terminal.open("POST", "http://localhost:800/terminal", true);
		terminal.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		
		// encodeURIComponent does not turn percentage signs into "%25" correctly
		// So I have to do that manually
		command = command.split("%").join("%25");
		
		terminal.send("command=" + encodeURIComponent(command));
	});
}

window.assembly = new SSAssembly();
window.packaging = new SSPackaging(window.send);

/*

openUuid should be changed in the future. 
It should loop through the array of all user interfaces available, 
and run the validate function of each user interface, 
then render first the one that returned true at the validate function. 
SSEditor will the the last user interface, 
and its validate function will always return true, 
so if all other user interfaces rendered false at their validate functions, 
SSEditor will be the user interface used in the end. 

*/
window.openUuid = async function (uuid) {
	// First, get the dependencies of the editor with the UUID as the editor's head
	var dependencies = await send("check(\"" + uuid + "\")");
	var output = new SSEditor(uuid);
	
	// Then, for each dependency, load the element that corresponds to it
	await output.loadDependencies(dependencies);
	console.log(output);
}

window.SSEditor = SSEditor;
</script>

<button onclick="openUuid('fzYkA7sH');">Press</button>
<div id="renderZone"></div>