<title>Systemstate Editor Pre-Alpha v1.0.1</title>
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico">
<link rel="stylesheet" type="text/css" href="/resources/main.css">
<script type="module">

import SSSelected from "./classes/SSSelected.js";
import SSAssembly from "./classes/SSAssembly.js";
import SSListener from "./classes/SSListener.js";
import SSOpener from "./classes/SSOpener.js";

import {h, Component, render} from "./libraries/preact.js";
import htm from "./libraries/htm.js";

const html = htm.bind(h);

window.selected = new SSSelected(document.getElementById("selected"));
window.assembly = new SSAssembly();
window.listener = new SSListener(window.assembly, window.selected);
window.opener = new SSOpener(window.assembly, window.selected);
window.renderFunction = async function () {
	const content = await window.opener.openUuid("fzYkA7sH");
	document.getElementById("renderZone").innerHTML = "";
	render(html`<div>${content}</div>`, document.getElementById("renderZone"));
	
	// (new (await window.opener.getClass("Aliase"))("fzYkA7sH", window.assembly)).add();
	// (new (await window.opener.getClass("Aliase"))("fzYkA7sH", window.assembly)).remove();
}

renderFunction();

</script>

<div id="renderZone">Content will be rendered here<br/></div><br/>

Documentations: 
<span class="white" onclick="window.open('/resources/documentations.html', '_blank');">(View)</span><br/>

Editor Actions: 
<span class="white" onclick="window.assembly.syncWithServer().then(() => window.renderFunction());">(Save)</span><br/>

Selected Element: 
[<span id="selected"></span>]
<span class="white" onclick="window.selected.add();">(+)</span>
<span class="white" onclick="window.selected.remove();">(-)</span><br/>

More Components: 
<span style="vertical-align: top; display: inline-block;">
#%%%%%%%%<span class="white" onclick="window.selected.add('group_parent');">(+)</span>: 
#%%%%%%%%<span class="white" onclick="window.selected.add('object_uuid');">(+)</span> this: 
#%%%%%%%%<span class="white" onclick="window.selected.add('group_uuid');">(+)</span><br/>

#%%%%%%%%<span class="white" onclick="window.selected.add('link_uuid');">(+)</span>: 
#%%%%%%%%<span class="white" onclick="window.selected.add('link_start');">(+)</span> &lt;-&gt; 
#%%%%%%%%<span class="white" onclick="window.selected.add('link_end');">(+)</span><br/>

#%%%%%%%%<span class="white" onclick="window.selected.add('property_uuid');">(+)</span>: 
#%%%%%%%%<span class="white" onclick="window.selected.add('property_parent');">(+)</span>: 
%%%%%%%%: <br/>
%%%%%%%%