body {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	background-color: #EEEEEE;
	color: #000000;
	overflow: hidden;
	font-family: "Consolas";
	display: inline-block;
}

input, textarea, button, pre {
	height: 18px;
	padding: 0px 1px;
	border: none;
	margin: 0px;
	background-color: #FFFFFF;
	color: #000000;
	vertical-align: top;
	overflow: hidden;
	resize: none;
	font-family: "Consolas";
	font-size: 16px;
}

input:focus, textarea:focus, button:focus, button::-moz-focus-inner {
	outline: none;
}

::selection {
	background-color: #000000;
	color: #FFFFFF;
}